.standartBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(0deg, rgb(38, 68, 131) 0%, rgba(16,117,187,1) 100%);
    color: white;
    border-radius: 10px;
}