.Registration {

    width: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 45px;

    >.RegistationTitle {
        color: #1075bb;
        font-size: 24px;
        font-weight: bold;
    }

    >.forms {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        margin-top: 20px;

        >.formInput {
            // border: 1px solid black;
            height: 82px;
            >div {
                width: 100%;
                height: 55px;
                border-radius: 10px;
                // margin: 30px 0;
                background: #eaedff;
                color: rgb(165, 165, 165);
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 20px;
                padding-left: 20px;

                >input {
                    margin-left: 10px;
                    height: 100%;
                    width: 80%;
                    background: #eaedff;
                    border: none;
                    outline: none;
                    color: rgb(165, 165, 165);
                }
            }
            >span {
                font-size: 12px;
                color: rgb(255, 65, 65);
                // margin-left: 20px;
            }
        }
    }

    >.buttons {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        >.btnSignIn {
            border: none;
            outline: none;
            border: 2px solid #1075bb;
            border-radius: 10px;
            color: #1075bb;
            background: white;
            width: 130px;
            height: 50px;
            font-weight: bold;
            cursor: pointer;
            transition: all .1s ease;
        }

        >.btnSignIn:hover {
            box-shadow: 0 0 5px #6dc2ff;
        }
    }
}