.Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >.HomeLeft {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >.HomeTitle {
            font-size: 52px;
            font-weight: bold;
            color: #1d3260;
        }

        >.HomeSupTitle {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;

            >.SupTitleAva {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: orange;
                display: flex;
                justify-content: center;
                align-items: center;

                >.TitleAvaImg {
                    width: 30px;
                    height: 30px;
                    background-image: url(../../Images/crystal.png);
                    background-size: cover;
                }
            }

            >.SupTitleText {
                font-size: 15px;
                margin-left: 20px;
                width: 80%;
                color: #1d3260;
            }
        }

        >.HomeFollow {
            >span {

                color: #1d3260;
                font-weight: bold;
            }

            >.HomeContacts {
                height: 40px;
                display: flex;
                flex-direction: row;
                gap: 13px;
                margin-top: 5px;

                >.contact {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #1d3260;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 22px;

                    >.contactImg {
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }
    }

    >.HomeRight {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        >.HomeRightContent {
            width: 500px;
            height: 500px;
            border-radius: 50%;
            display: flex;
            // justify-content: center;
            // align-items: center;
            background: linear-gradient(0deg, rgb(255, 255, 255) -90%, #edf4ff 100%);
            position: relative;
            left: 79px;

            >.RightContentCircle {
                width: 100%;
                height: 100%;
                background-image: url(../../Images/girl.png);
                border-radius: 50%;
                overflow: hidden;
                background-size: cover;
            }

            >.rightContentInfo {
                width: 200px;
                // height: 220px;
                background: white;
                position: absolute;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                right: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 15px;

                >.contentInfoTitle {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    color: #1d3260;
                    font-size: 18px;
                    font-weight: bold;
                }

                >.progressBar {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 5px;
                    margin: 10px 0;

                    >.progressBarOne {
                        background:#d7dcf9;
                        height: 12px;
                        border-radius: 10px;
                    }

                    >.progressBarTwo {
                        background: #d7dcf9;
                        height: 12px;
                        border-radius: 10px;

                        >.progressBarInline {
                            background:#3b50e1;
                            height: 12px;
                            border-radius: 10px;
                        }
                    }
                }
            }


            >.rightContentInfoTwo {
                width: 195px;
                height: 220px;
                background: red;
                position: absolute;
                top: 40.5vh;
                right: 100%;
                border-radius: 15px;
                background: #ff5771;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 15px;
                gap: 20px;

                >div {
                    display: flex;
                    flex-direction: column;

                    >.procent {
                        color: white;
                        font-weight: bold;
                        font-size: 30px;
                    }

                    >.procent_text {
                        color: white;
                    }
                }

            }
        }
    }
}