.Clients {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >.ClientsTitle {
        font-size: 29px;
        font-weight: bold;
        color: #1075bb;
    }

    >.clientsComs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 15px;
        gap: 15px;
    }
}



.SelfClient {
    width: 380px;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    transition: all .3s;

    >.clientInfo {
        width: 100%;
        height: 55px;
        display: flex;
        flex-direction: row;

        >.clientPicture {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-size: 165px;
            background-position: center top;
        }

        >.clientNameAndJob {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 15px;

            >.clientName {
                color: #1d3260;
                font-weight: bold;
                font-size: 20px;
            }

            >.clientJob {
                color: #4d4d4d;
                font-size: 15px;
            }
        }
    }

    >.clientComment {
        width: 100%;
        color: #4d4d4d;
        font-size: 15px;
    }
}
.SelfClient:hover {
    background: rgb(240, 240, 240);
}