.Footer {
    width: 100%;
    height: 5vh;
    background: #1d3260;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
}