.AboutUs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >.left_content {
        width: 43%;
        height: 93%;
        background-image: url('../../Images/fon.jpg');
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


        >.left_content_info {
            width: 150px;
            height: 170px;
            background: white;
            position: relative;
            top: 7.5%;
            left: 9%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >.circle {
                width: 40px;
                height: 40px;
                background: #ebedfc;
                border-radius: 50%;
                font-size: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1d3260;
            }

            >.content_count {
                color: #1d3260;
                font-weight: bold;
                font-size: 28px;
                margin-top: 10px;
            }

            >.content_title {
                color: #1d3260;
                font-size: 14px;
            }

            >.content_progress {
                color: #1d3260;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                margin-top: 10px;
            }
        }
    }

    >.right_content {
        width: 50%;
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >div {
            display: flex;
            flex-direction: column;

            >.aboutUs_title {
                font-weight: bold;
                font-size: 17px;
                color: #1075bb;

                >span {
                    margin-left: 10px;
                }
            }

            >.content_title {
                font-size: 46px;
                color: #1d3260;
                font-weight: bold;
            }

            >.content_text {
                margin-top: 10px;
                color: #1d3260;
            }
        }
    }
}